# Platform specific data  -------------------------------------------------------------------------
# The following variables are specific to the platform used
# and should be common to all IPS simulations on that platform.  Therefore these are
# defined in a platform specific configuration file e.g. "franklin.config" which is
# read by the framework and combined with this config file.  The path to the platform
# config file is specified on the ips command line. 
# Platform config settings can be over-ridden by uncommenting any of the lines below and
# supplying new values

#HOST = 
#MPIRUN = 
#PHYS_BIN_ROOT = 
#PORTAL_URL = 
#RUNID_URL  = 

# Root of IPS component and binary tree
IPS_ROOT =  /project/projectdirs/m876/kruger/ips
DATA_TREE_ROOT = /project/projectdirs/m876/kruger/data

# LOCATION OF COMPONENTS
FACETS_SOFTWARE_DIR=/project/projectdirs/facets/franklin/volatile-path-3.2/
FG_BIN_ROOT=${FACETS_SOFTWARE_DIR}/fluxgrid/bin
FACETS_BIN_ROOT=${FACETS_SOFTWARE_DIR}/facets/bin


# User specific data ------------------------------------------------------------------------------
# The following data is specific to the user.  These global parameters are used later in this config 
# file to define component config parameters.  The intent is to gather user specific data into one
# place to make it easier to exchange config files between users.

USER_W3_DIR = /project/projectdirs/m876/www/skruger
USER_W3_BASEURL = http://portal.nersc.gov/project/m876/skruger


# Simulation specific data -------------------------------------------------------------------------

TOKAMAK_ID = DIII-D
SHOT_NUMBER = 118897.01555         # Identifier for specific tokamak case (should be integer)
RUN_ID = core-edge0001             # Indentifier for this simulation run

SIM_NAME = ${TOKAMAK_ID}_${SHOT_NUMBER}_${RUN_ID}  # Name of current simulation

# Simulation root - path of the simulation directory that will be constructed by the framework
SIM_ROOTDIR = /project/projectdirs/m876/kruger/run-facets
SIM_ROOT = $SIM_ROOTDIR/$SIM_NAME                 


# Stuff for connecting to the SWIM portal
RUN_COMMENT = "trying to get this to work."
TAG = diiid-core-edge			# A tag that enables related runs to be retrieved together
USER = Kruger					# Optional, if missing the unix username is used

# SIMULATION_MODE = NORMAL or RESTART.  For RESTART must specify a restart time and restart
# directory.  The restart time must coincide with a checkpoint save time.  The restart 
# directory can be specified as $SIM_ROOT if there is an existing current simulation there. 
# This will append to the current simulation
SIMULATION_MODE = NORMAL
RESTART_TIME =
RESTART_ROOT = $SIM_ROOT
LOG_FILE = ./${SIM_NAME}.log
LOG_LEVEL = DEBUG
OUTPUT_PREFIX = 

PLASMA_STATE_WORK_DIR = $SIM_ROOT/plasma_state
# Now compose the simulation

[PORTS]
   NAMES = DRIVER 
   
   [[DRIVER]]
      IMPLEMENTATION = facets

# Individual configuration sections
# Component specification (entries similar for all components)
# NAME entry MUST match the name of the python class that implements the component
   
[facets]
    CLASS = epa
    SUB_CLASS = txcorp
    NAME = facets
    NPROC = 2
    BIN_PATH = $IPS_ROOT/bin

    # Specify the data 
    DATA_DIR = $DATA_TREE_ROOT/facets/diiid-118897
    ITERDB_FILE = iterdb_118897_01555
    INPUT_EQDSK_FILE = g118897.01555
    FIT_FILES = p118897_1555_rgef2_tetanhpsi.fit  p118897_1555_rgef2_tisplpsi.fit p118897_1555_rgef2_netanhpsi.fit 
    DATA_FILES = uedge-startup.h5 a118897.01555 ${FIT_FILES} ${INPUT_EQDSK_FILE} ${ITERDB_FILE}

    # Specify the input files 
    INPUT_DIR = $DATA_DIR
    PRE_FILE = core-edge.pre 
    INPUT_FILES = ${PRE_FILE} 118897-core.nml fg_g118897.01555.in uedge-inputfile.py ${DATA_FILES}
    OUTPUT_FILES = core*.h5
    RESTART_FILES = 
    SCRIPT = $BIN_PATH/facets.py

# Checkpoint schedule -----------------------------------------------------------------------------
[CHECKPOINT]
   MODE = WALLTIME_REGULAR
   WALLTIME_INTERVAL = 15
   NUM_CHECKPOINT = 2
   PROTECT_FREQUENCY = 5  
