# temporary files
*.tmp
*.tmp.*
tmp/


# example code
simulation_log/
simulation_setup/
www/
log
resource_usage
work/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
/tmp.*
/local
*.log
*.pyc
__pycache__
docker-nom/build/
\#*\#
.\#*

.venv
venv/
*.egg-info/
docs/build/
doc/_build
.coverage*
htmlcov/
.ipynb_checkpoints/
.pytest_cache
build/
dist/

# Subversion
.svn


# Vim (and some others)
*~
*.swp

# Eclipse
.cache
.classpath
.project
.settings
build-eclipse

# Gradle
.gradle
gradle-app.setting

# Sublime Text
*.sublime-workspace

# NetBeans
.netbeans
catalog.xml
generated
nb-configuration.xml

# Mac OS
.DS_Store
__MACOSX

# Intellij
.idea/
.idea/workspace.xml
.idea/libraries
.idea/kotlinc.xml
.idea/tasks.xml
.idea/dictionaries
.idea/scopes
.idea/artifacts
.idea/uiDesigner.xml
.idea/dataSources.local.xml
.idea/dataSources.local.xml
.idea/dataSources.ids
.idea/dataSources.xml
.idea/dataSources
.idea/kotlinc.xml
.idea/sonar*
*.iws
*.iml
.idea/compiler.xml
.idea/kotlinc.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml

# vscode
.vscode

# dask
dask-worker-space/

# Generated data
*.csv
*.png

# Project specific
simulation_log/
simulation_setup/
run.log
resource_usage

# readthedocs
_build
