# Where the source is for my laptop
SRC_DIR = /Users/may/Projects/IPS

#######################################
# Parallel environment
#######################################
MPIRUN = eval
NODE_DETECTION = manual
CORES_PER_NODE = 12
SOCKETS_PER_NODE = 2
NODE_ALLOCATION_MODE =  shared

#######################################
# Provenance
#######################################
HOST = localhost
USER = may
HOME = $HOME
SCRATCH = /tmp