# Example configuration file for ensemble support

SIM_ROOT = $PWD
SIM_NAME = ensemble_example
LOG_FILE = run.log
LOG_LEVEL = INFO
SIMULATION_MODE = NORMAL

[PORTS]
    NAMES = DRIVER

    [[DRIVER]]
        IMPLEMENTATION = driver

[driver]
    # SRC_DIR specified in platform config
    BIN_PATH = $SRC_DIR/IPS-framework/doc/examples/ensembles/
    CLASS = driver
    SUB_CLASS =
    NAME = ensemble_driver
    SCRIPT = ${BIN_PATH}/driver.py
    NPROC = 1
    # Ensures we can find this file for run_ensembles call.
    # Alernatively, we could just use the full path when invoking
    # run_ensembles and leave this blank.
    INPUT_FILES = template.config
    OUTPUT_FILES =
    RESTART_FILES =


