# Example configuration file for ensemble support

SIM_ROOT = $PWD
SIM_NAME = ensemble_example
ENSEMBLE_DIR = /tmp/ensembles
ENSEMBLE_PREFIX = MY_INSTANCE_
LOG_FILE = run.log
LOG_LEVEL = INFO
SIMULATION_MODE = NORMAL

[PORTS]
    NAMES = DRIVER

    [[DRIVER]]
        IMPLEMENTATION = driver

[driver]
    # SRC_DIR specified in platform config
    BIN_PATH = $SRC_DIR/IPS-framework/doc/examples/ensembles/
    CLASS = driver
    SUB_CLASS =
    NAME = ensemble_driver
    SCRIPT = ${BIN_PATH}/driver.py
    TEMPLATE = ${BIN_PATH}/template.config
    PLATFORM_CONFIG_FILE = ${BIN_PATH}/mac135909.config
    NPROC = 1
    INPUT_FILES =
    OUTPUT_FILES =
    RESTART_FILES =


