# Template config file that will be used to generate the ensemble runs. Variables
# will be substituted from run_ensemble() in the driver script.
SIM_ROOT = $PWD
SIM_NAME = ensemble_example_instance
LOG_FILE = run.log
LOG_LEVEL = INFO
SIMULATION_MODE = NORMAL
SRC_DIR = /Users/may/Projects/IPS

[PORTS]
    NAMES = DRIVER A_COMP ANOTHER_COMP

    [[DRIVER]]
        IMPLEMENTATION = driver

    [[A_COMP]]
        IMPLEMENTATION = a_comp

    [[ANOTHER_COMP]]
        IMPLEMENTATION = another_comp

[driver]
    # SRC_DIR specified in platform config
    BIN_PATH = $SRC_DIR/IPS-framework/doc/examples/ensembles/
    CLASS = driver
    SUB_CLASS =
    NAME = instance_driver
    SCRIPT = ${BIN_PATH}/instance_driver.py
    NPROC = 1
    INPUT_FILES =
    OUTPUT_FILES =
    RESTART_FILES =

[a_comp]
    # SRC_DIR specified in platform config
    BIN_PATH = $SRC_DIR/IPS-framework/doc/examples/ensembles/
    CLASS = workers
    SUB_CLASS =
    NAME = a_comp
    SCRIPT = ${BIN_PATH}/a_comp.py
    NPROC = 1
    INPUT_FILES =
    OUTPUT_FILES =
    RESTART_FILES =
    A = ?
    B = ?
    C = ?

[another_comp]
    # SRC_DIR specified in platform config
    BIN_PATH = $SRC_DIR/IPS-framework/doc/examples/ensembles/
    CLASS = workers
    SUB_CLASS =
    NAME = another_comp
    SCRIPT = ${BIN_PATH}/another_comp.py
    NPROC = 1
    INPUT_FILES =
    OUTPUT_FILES =
    RESTART_FILES =
    D = ?
    B = ?
    F = ?
